<!DOCTYPE html>
<html>
<head>
  <title>Project 1</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/app.js"></script>
</head>

<body>
  <!-- JUMBOTRON -->
  <div class='jumbotron'>
    <div class='container'>
      <h1>TITLE</h1>
      <h3>CAPTION</h3>
    </div>
  </div>

  <!-- SELECT CITY -->
  <div>
    <h5>CHOOSE YOUR CITY</h5>
  </div>

  <br>
  
  <div class='wrapper text-center'>
    <div class='btn-group' role='group' aria-label='...'>
      <button type='button' class='btn btn-default' id='west-coast'>San Francisco</button>
      <button type='button' class='btn btn-default' id='mid-west'>Chicago</button>
      <button type='button' class='btn btn-default' id='east-coast'>New York</button>
    </div>
  </div>

  <br>

  <div class='container'>
    <div class='row'>
      <div class='col-sm-8 col-sm-offset-2'>
        <!-- TITLE -->
        <input type='text' class='form-control' id='title' placeholder='Title...'>

        <br>
        <!-- POST INPUT -->
        <form class='postIdea'>
          <div class='input-group'>
            <input type='text' class='form-control' id='post' placeholder='Event, Restaurant, Activity...'>
            <span class='input-group-btn'>
              <button class='btn btn-default' id='add' type='submit'>Add</button>
            </span>
          </div>
        </form>
        
        <br>
        
        <!-- POST LIST -->
        <ul class='itinerary list-group'>
        </ul>
        
        <!-- SAVE BUTTON -->
        <button class='btn btn-default' id='save' type='button'>Save</button>
      </div>    
    </div>
  </div>

  <br>

  <!-- CITY COLUMN LABELS -->
  <div class='container' id='cities'>
    <div class='row'>
      <div class='col-xs-4'><h3>San Francisco</h3></div>
      <div class='col-xs-4'><h3>Chicago</h3></div>
      <div class='col-xs-4'><h3>New York</h3></div>
    </div>
  </div>

  <div class='container' id='city-posts'>
    <div class='row'>
      <!-- SAN FRANCISCO COLUMN -->
      <div class='col-xs-4' id='SF'>
        <a type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">
          Best Summer Restaurants and Places to Meet People and Bars and Nightclubs
        </a>
      </div>

      <!-- CHICAGO COLUMN -->
      <div class='col-xs-4' id='Chitown'> 
        <a type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">
          Best Summer Restaurants and Places to Meet People and Bars and Nightclubs
        </a>
      </div>

      <!-- NEW YORK COLUMN -->
      <div class='col-xs-4' id='NY'>
        <a type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">
          Best Summer Restaurants and Places to Meet People and Bars and Nightclubs
        </a>
      </div>

    </div>
  </div>

<!-- MODAL CONTENT -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
          <h4 class="modal-title" id="myModalLabel">Best Summer Restaurants and Places to Meet People and Bars and Nightclubs</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li>Test 1</li>
            <li>Test 2</li>
            <li>Test 3</li>
            <li>Test 4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>
</html>


