<!DOCTYPE html>
<html>
<head>
  <title>Project 1</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/app.js"></script>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Coast-to-Coast
        </a>
      </div>
      <button class='navbar-btn btn btn-defult' data-toggle="modal" data-target="#new-trip-modal">New Trip</button>
    </div>
  </nav>

  <!-- JUMBOTRON -->
  <div class='jumbotron'>
    <div class='container'>
      <h1>TITLE</h1>
      <h3>CAPTION</h3>
    </div>
  </div>

  <% for (var i = trips.length-1; i >= 0; i--) { %>
    <div class="col-sm-4">
      <div class="thumbnail">
        <!-- <img src='http://placehold.it/200x100'> -->
        <div class='caption'>
          <a class='trip-button' href='/trips/<%= trips[i]._id %>' >
            <%= trips[i].city %>
            <div><%= trips[i].title %></div>
          </a>
        </div>
      </div>
    </div>
  <% } %>

  <!-- MODAL CONTENT -->
  <div class="modal fade" id="new-trip-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Share Your Trip Plan</h4>
        </div>
        <div class="modal-body">
          <form action="" id='new-trip'>
            <input type="text" name='city' class='form-control' placeholder='Your Favorite City'>
            <br>
            <input type="text" name='title' class='form-control' placeholder='Title...'>
            <br>
            <textarea name="details" class='form-control' id="" rows=5 placeholder='Description...'></textarea>
            <button type='submit'>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>