<!DOCTYPE html>
<html>
<head>
  <title>Project 1</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/app.js"></script>
</head>
<body>
  
  <div class='jumbotron'>
    <div class='container'>
      <h1>TITLE</h1>
      <h3>CAPTION</h3>
    </div>
  </div>

  <div>
    <h5>CHOOSE YOUR CITY</h5>
  </div>

  <br>

  <div class='wrapper text-center'>
    <div class='btn-group' role='group' aria-label='...'>
      <button type='button' class='btn btn-default' id='west-coast'>San Francisco</button>
      <button type='button' class='btn btn-default' id='mid-west'>Chicago</button>
      <button type='button' class='btn btn-default' id='east-coast'>New York</button>
    </div>
  </div>

  <br>
  <br>

  <div class='container'>
    <div class='row'>
      <div class='col-sm-8 col-sm-offset-2'>
        <form class='trip-idea'>
          <div class='input-group'>
            <input type='text' class='form-control' id='post' placeholder='Event, Restaurant, Moment...'>
            <span class='input-group-btn'>
              <button class='btn btn-default' id='add' type='submit'>Add</button>
            </span>
          </div>
        </form>
        
        <br>
        
        <ul class='list-group' id='itinerary'>
        </ul>
        
        <br>
        
        <button class='btn btn-default' id='save' type='button'>Save</button>
      </div>    
    </div>
  </div>

  <br>

  <div class='container'>
    <div class='row' id='cities'>

      <div class='col-xs-4'>
        <h3>San Francisco</h3>
        <ul class='list-group' id='SanFrancisco'>
          
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" alt="...">
          </a>

        </ul>
      </div>

      <div class='col-xs-4'>
        <h3>Chicago</h3>
        <ul class='list-group' id='Chicago'>
          
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" alt="...">
          </a>

        </ul>
      </div>

      <div class='col-xs-4'>
        <h3>New York</h3>
        <ul class='list-group' id='NewYork'>

          <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" alt="...">
          </a>
          
        </ul>
      </div>

    </div>
  </div>

</body>
</html>


