.navbar {
	font-family: 'Abel', sans-serif;
	margin: 0px;
	border-radius: 0px;
}

.navbar-brand {
	border-style: solid;
	margin: 8px;
	margin-left: -5px !important;
	padding: 10px;
	color: white;
}

.navbar-btn {
	border-radius: 1px;
	margin-top: 15px;
}

.jumbotron {
	font-family: 'Poiret One', cursive;
	color: white;
	padding: 150px;
	margin-bottom: 15px;
	background: url('/images/nVoKFEq.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
}

.jumbotron h1 {
	font-size: 70px;
	text-align: right;
}

.thumbnail {
	font-family: 'Abel', sans-serif;
	text-align: left;
	border-radius: 1px;
	margin-bottom: 15px;
	border-width: 5px;
}

.thumbnail .caption {
	padding: 1px;
}

.text-muted {
	margin-bottom: 20px;
}

#list {
	margin-top: 95px;
	padding-left: 38px;
}

#act-title {
	font-size: 18px;
}

li {
	list-style: none;
}

h2 {
	font-family: 'Abel', sans-serif;
}

h3 {
	font-family: 'Abel', sans-serif;
}

h4 {
	font-family: 'Abel', sans-serif;
}