/***** NAVBAR *****/

.navbar-right {
	text-align: center;
}

/*.navbar {
	font-family: 'Abel', sans-serif;
	margin: 0px;
	border-radius: 0px;
}

.navbar-brand {
	border-style: solid;
	margin: 8px;
	margin-left: -5px !important;
	padding: 10px;
	color: white;
}

.navbar-btn {
	border-radius: 1px;
	margin-top: 15px;
}*/

.jumbotron {
	font-family: 'Poiret One', cursive;
	color: white;
	/*padding: 150px;*/
	/*margin-bottom: 15px;*/
	background: url('/images/nVoKFEq.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 450px;
}

.jumbotron h1 {
	font-size: 70px;
	text-align: center;
}

.thumbnail {
	font-family: 'Abel', sans-serif;
	text-align: left;
	border-radius: 1px;
	margin-bottom: 15px;
	border-width: 3px;
}

.thumbnail .caption {
	padding: 1px;
}

.text-muted {
	margin-bottom: 20px;
}

#list {
	margin-top: 95px;
	padding-left: 38px;
}

#act-title {
	font-size: 18px;
}

li {
	list-style: none;
}

.tripId {
	font-family: 'Abel', sans-serif;
}

h2 {
	font-size: 50px;
	margin-top: 150px;
}

h3 {
	font-family: 'Abel', sans-serif;
	font-size: 30px;
}

h4 {
	font-family: 'Abel', sans-serif;
	font-size: 20px;
}

#activity {

}